<div ng-controller="FilesController">
	<div class="row">
		<div class="col-lg-12" style="padding: 20px">
			<form name="searchForm" ng-submit="search()" role="form">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="search_value" ng-trim="true" box-shadow>
					<div class="input-group-btn">
						<button type="button" class="btn btn-primary">
					    	<span class="glyphicon glyphicon-search"></span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12" style="padding-left: 20px">
			<span id="checkAll" ng-click="checkAll()"><u style="cursor: pointer;">Seleccionar todo</u></span>&nbsp;&nbsp;&nbsp;&nbsp;
			<span id="uncheckAll" ng-click="uncheckAll()"><u style="cursor: pointer;">Deseleccionar todo</u></span>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="table-responsive">
				<table class="table table-hover">
					<tbody>
						<tr ng-repeat="file in files | orderBy: ['module', 'name']">
							<td><input type="checkbox" ng-model="file.selected" /></td>
							<td>{{file.module}}</td>
							<td>{{file.name}}</td>
							<td style="text-align: end; padding-right: 30px;">
								<a ng-click="edit(file.name)">
									<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
								</a>
								<a ng-click="clone(file.name)">
									<span class="glyphicon glyphicon-duplicate"></span>&nbsp;&nbsp;
								</a>
								<a ng-click="switch_lock(file.name)">
									<img ng-if="file.lock" src="<%= @host %>/img/lock.png"/>
									<img ng-if="!file.lock" src="<%= @host %>/img/unlock.png"/>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<button ng-click='add()' class="btn-success">
			    <i class="glyphicon glyphicon-file"></i><span> Agregar</span>
			</button>
			<button ng-click='delete()' class="btn-danger">
			    <i class="glyphicon glyphicon-trash"></i><span> Borrar</span>
			</button>
		</div>
	</div>

	<modal title="'Agregar json de mock'" visible="showAddDlg" modal-class="modal-lg" override-class="file-modal-dialog" >
		<div>
	  		<div class="row" style="margin-bottom: 10px">
	      		<div class="col-lg-12">
	      			<label>Nombre</label>
	      			<input type="text" ng-model='file_body.name' class="form-control" />
	      		</div>
	    	</div>
	  		<div class="row" style="margin-bottom: 10px">
	      		<div class="col-lg-12">
	      			<label>Módulo</label>
	      			<select ng-model="file_body.module" ng-options="module.value as module.value for module in modules" class="form-control" />
	      		</div>
	    	</div>
	  		<div class="row" style="margin-bottom: 10px">
	      		<div class="col-lg-12">
	      			<label>Método</label>
	      			<select ng-model="file_body.method" ng-options="method.value as method.value for method in methods" class="form-control" />
	      		</div>
	    	</div>
	  		<div class="row" style="margin-bottom: 10px">
	      		<div class="col-lg-12">
	      			<label>Url</label>
	      			<input type="text" ng-model='file_body.url' class="form-control" />
	      		</div>
	    	</div>
	  		<div class="row" style="margin-bottom: 10px">
	      		<div class="col-lg-6">
	      			<label>Request</label>
	      			<textarea json-text ng-model='file_body.request' class="form-control" rows="25"></textarea>
	      		</div>
    	  		<div class="col-lg-6">
	      			<label>Response</label>
      				<textarea json-text ng-model='file_body.response' class="form-control" rows="25"></textarea>
      			</div>
	    	</div>
	  		<div class="row" style="margin-bottom: 10px">
	      		<div class="col-lg-12">
	      			<label>Código de respuesta</label>
	      			<input type="text" ng-model='file_body.response_code' class="form-control" />
	      		</div>
	    	</div>	    	
	    	<div class="row">
	  			<div class="col-lg-12 text-center">
					<button ng-click='saveAdd(keyEdited)' class="btn-primary">
						<i class="glyphicon glyphicon-floppy-saved"></i><span> Guardar</span>
					</button>
				</div>
	    	</div>
		</div>
	</modal>

	<modal title="'Modificar json de mock'" visible="showEditDlg" modal-class="modal-lg" override-class="file-modal-dialog" >
		<div>
	  		<div class="row" style="margin-bottom: 10px">
	      		<div class="col-lg-12">
	      			<label>Nombre</label>
	      			<input type="text" ng-model='file_body.name' class="form-control" />
	      		</div>
	    	</div>
	  		<div class="row" style="margin-bottom: 10px">
	      		<div class="col-lg-12">
	      			<label>Módulo</label>
	      			<select ng-model="file_body.module" ng-options="module.value as module.value for module in modules" class="form-control" />
	      		</div>
	    	</div>
	  		<div class="row" style="margin-bottom: 10px">
	      		<div class="col-lg-12">
	      			<label>Método</label>
	      			<select ng-model="file_body.method" ng-options="method.value as method.value for method in methods" class="form-control" />
	      		</div>
	    	</div>
	  		<div class="row" style="margin-bottom: 10px">
	      		<div class="col-lg-12">
	      			<label>Url</label>
	      			<input type="text" ng-model='file_body.url' class="form-control" />
	      		</div>
	    	</div>
	  		<div class="row" style="margin-bottom: 10px">
	      		<div class="col-lg-6">
	      			<label>Request</label>
	      			<textarea json-text ng-model='file_body.request' class="form-control" rows="25"></textarea>
	      		</div>
    	  		<div class="col-lg-6">
	      			<label>Response</label>
      				<textarea json-text ng-model='file_body.response' class="form-control" rows="25"></textarea>
      			</div>
	    	</div>
	  		<div class="row" style="margin-bottom: 10px">
	      		<div class="col-lg-12">
	      			<label>Código de respuesta</label>
	      			<input type="text" ng-model='file_body.response_code' class="form-control" />
	      		</div>
	    	</div>	    	
	    	<div class="row">
	  			<div class="col-lg-12 text-center">
					<button ng-click='saveEdit(keyEdited)' class="btn-primary">
						<i class="glyphicon glyphicon-floppy-saved"></i><span> Guardar</span>
					</button>
				</div>
	    	</div>
		</div>
	</modal>
</div>
